@import "../../node_modules/materialize-css/sass/components/color";
$roboto-font-path: "../../node_modules/materialize-css/dist/fonts/roboto/" !default;

// 1. Colors
// ==========================================================================

$primary-color: color("blue", "lighten-1") !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

$secondary-color: color("teal", "lighten-1") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("light-blue", "darken-1") !default;

@import "../../node_modules/materialize-css/sass/components/variables";
@import "../../node_modules/materialize-css/sass/components/roboto";
@import "../../node_modules/materialize-css/sass/materialize";
